/* 저자: 임순범 박희민 */
/* 본 예제는 [HTML5 웹프로그래밍 입문] 교재를 이용한 교육에만 사용할 수 있음 */

.wrap { width:700px; min-height:600px; }

header { height: 80px; }

nav { width: 700px; }
    
nav a { height:20px; }

footer { height:70px; }

#login fieldset span { width: 80px; }

#signup fieldset span { width: 90px; }

#order table td, th{ width: 150px; height: 30px; }

.booklist { height: 462px; }

.booklist ul li { width: 150px; height: 180px; }

.musiclist ul li { width: 530px; }

.booklist ul li img { height: 120px; }

.booklist ul li audio, video { width: 330px; }

.booklist ul li video { height: 120px; }
